body {
  overflow-x: hidden;
  font-family: 'Montserrat, sans-serif';
}

// Topbar Scrolling Offset
.offset::before {
  height: 4rem;
  margin-top: -4rem;
  content: '';
  display: block;
}

//Extra Boostrap Column Padding
// [class*='col-'] {
//   padding: 1rem;
// }

/*============= FONTS =============*/
@import '../fonts/fonts';

/*============= NAVIGATION =============*/
@import 'navbar';

/*============= CAROUSEL =============*/
@import 'carousel';

/*============= CARD =============*/
@import 'card';

/*============= LABEL =============*/
@import 'label';

/*============= LABEL =============*/
@import 'title';

/*============= LINK =============*/
@import 'link';

/*============= FOOTER =============*/
@import 'footer';
