/*============= FRAMECARD =============*/
.frame-card-wrapper {
  border: none;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 8px;
  &:hover {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.frame-card {
  border: none;
  padding: 0rem 1rem;
}

/*============= SUNGLASS =============*/
.sunglass-card {
  height: 400px;
  width: 100%;
  border-radius: 50%;
  border: solid 2px #cecece;
  width: 358px;
  height: 358px;
  transition: all 0.2s ease-in;
  font-size: 36px;
  color: #000;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    border-radius: 8px;
    color: #000;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);
    transition: all 0.2s ease-in;
  }
}
